/* Temel stil */
body {
  @apply font-sans bg-gray-100 m-0 p-0 flex flex-col items-center;
}

/* Sayfanın genişliğini sınırlama */
.container {
  @apply max-w-full sm:max-w-3xl md:max-w-4xl mx-auto px-4 sm:px-6 lg:px-8;
}

/* Header */
header {
  @apply bg-gray-800 text-white py-5 w-full text-center;
}

/* Dark Mode için Header */
body.dark header {
  @apply bg-gray-900 text-gray-300;
}

/* Section */
section {
  @apply my-4 w-full max-w-4xl bg-white p-5 rounded-lg shadow-lg mx-auto;
  @apply break-words;
}

/* Dark Mode için Section */
body.dark section {
  @apply bg-gray-800 text-gray-300;
}

/* Başlıkların stili */
h1, h2 {
  @apply text-3xl mb-2 break-words;
}

/* Dark Mode için Başlıklar */
body.dark h1, body.dark h2 {
  @apply text-white;
}

/* Skills listesi */
ul {
  @apply list-none p-0;
}

li {
  @apply mb-1 pl-5 relative break-words;
}

li::before {
  @apply content-['✔'] absolute left-0 top-0 text-green-500;
}

/* Dark Mode için Skills listesi */
body.dark li::before {
  @apply text-green-400;
}

/* Footer */
footer {
  @apply text-center bg-gray-800 text-white py-2 w-full;
}

/* Dark Mode için Footer */
body.dark footer {
  @apply bg-gray-900 text-gray-300;
}

/* Flexbox ile düzen */
.container {
  @apply flex flex-col items-center;
}

/* Flex düzeni ile her bileşeni daraltma */
.container > section {
  @apply w-full max-w-4xl p-5 rounded-lg shadow-lg mx-auto;
}

/* Dark Mode için tüm sayfa genelinde stil */
body.dark {
  background-color: #2D2D2D;  /* Koyu arka plan */
  color: white;  /* Beyaz metin */
}

/* Temel stil (açık modda kullanılacak) */
body {
  background-color: #F7FAFC;  /* Açık arka plan */
  color: black;  /* Siyah metin */
}

/* Medya sorguları ile responsive tasarım */

/* Tabletler ve küçük ekranlar için (max-width: 768px) */
@media screen and (max-width: 768px) {
  body {
    @apply p-2;
  }

  .container {
    @apply flex-col gap-2;
  }

  header {
    @apply py-4;
  }

  section {
    @apply w-full;
  }

  h1, h2 {
    @apply text-2xl;
  }
}

/* Mobil ekranlar için (max-width: 480px) */
@media screen and (max-width: 480px) {
  body {
    @apply p-1;
  }

  header {
    @apply py-2;
  }

  section {
    @apply p-3;
  }

  h1, h2 {
    @apply text-xl;
  }
}
